@import "tailwindcss";
@import "@fontsource/poppins";
@import "@fontsource/inter";
:root{
    overflow-x: hidden;
}

@theme {
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;

}

@theme {
  --color-navbar_bg:#ffffff;
  --color-text_black:#000000;
  --color-primaryBg:#eff3f6;
  --color-foregroundBg:#ffffff;
  --color-cardsBg:#000000;
}