@import "tailwindcss";
@import "@fontsource/poppins";
@import "@fontsource/inter";
:root{
    overflow-x: hidden;
}

@theme {
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}
